@import 'tailwindcss';
@import 'highlight.js/styles/atom-one-dark.css';

/* 修改 Tailwind Prose 中預設 pre 的樣式，由 highlight.js 接管 */
.prose pre {
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}
